# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode11.2
language: swift
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- xcodebuild -workspace Example/LightweightCharts.xcworkspace -scheme LightweightCharts-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
- pod lib lint
